.logo{
    -webkit-transition: all .2s ease 0s;
    -moz-transition: all .2s ease 0s;
    -ms-transition: all .2s ease 0s;
    -o-transition: all .2s ease 0s;
    transition: all .2s ease 0s;
    width: 250px;
    float: left;
    height: 83px;
    margin-left: -50px;
    align-items: center;
    justify-content: center;
    background-color: #001529;
}
.logoclose{
    -webkit-transition: all .2s ease 0s;
    -moz-transition: all .2s ease 0s;
    -ms-transition: all .2s ease 0s;
    -o-transition: all .2s ease 0s;
    transition: all .2s ease 0s;
    width:80px;
    float: left;
    height: 83px;
    margin-left: -50px;
    align-items: center;
    justify-content: center;
    background-color: #001529;
}
.blockclose{
    display: block;
    height: 47px;
    background-color: #1a2d3f;
    width: 100%;
}
.block{
    display: block;
    width: 177px;
    height: 47px;
    background-color: #1a2d3f;
<<<<<<< HEAD

}
.header-wrap{
    -webkit-transition: all .2s ease 0s;
    -moz-transition: all .2s ease 0s;
    -ms-transition: all .2s ease 0s;
    -o-transition: all .2s ease 0s;
    transition: all .2s ease 0s;
    margin-left: 220px;
}
.header-wrapclose{
    -webkit-transition: all .2s ease 0s;
    -moz-transition: all .2s ease 0s;
    -ms-transition: all .2s ease 0s;
    -o-transition: all .2s ease 0s;
    transition: all .2s ease 0s;
    margin-left: 35px;
=======
}
.header-wrap{
    margin-left: 220px;
>>>>>>> 8f81d8a1427c39e75c00cf78b5e68e601e05a473
}